.card{
    margin: 1.5em 1.5em 1.5em 0em;;
    padding: 0px 1em;
    border-radius: 9px;
    box-shadow: 0 .1em .8em rgba(black, .3);
}

h3{
    color: gray;
    font-weight: lighter;
}

h2{
    color: indianred
}